@{
    ViewBag.Title = "Contact";
}

<h2>Eugene Chamber of Commerce</h2>
<address>
    1401 Willamette Street<br />
    Eugene, OR 97401<br />
    <abbr title="Phone">P:</abbr>
    541.484.1314<br />
    <abbr title="Fax">F:</abbr>
    541.484.4942
</address>

<p>On the <a href="/Map">maps page</a> you will find the many local breweries in Eugene.</p>