
@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<p>The first brewery likely came when settlers began the town of Eugene (it is named after its founder, Eugene Franklin Skinner). 
    It was used as a trading post and was registered as an official post office on January 8, 1850.</p>
<p>The Pacific Northwest is known for producing some of the best beer in the world, and Eugene is a big contributor to that reputation. 
    While you can find all different styles of craft beer in Eugene, we are most known for our IPAs and other hoppy beer styles. 
    So explore! Taste! And be merry with a pint in hand.
</p>

