
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<p>Something sure went wrong along the way, maybe you entered horrible data, aren't who you said you were, or maybe this website just crashed. You likely know what you did.</p>